<div class="forms">
  <h2>編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :アバター %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :名前 %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :変更後のパスワード %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <small id="field-helper" class="form-text text-muted">パスワードを変更しない場合は空白にしてください</small>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :'変更後のパスワード(確認)' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <small id="field-helper" class="form-text text-muted">変更を確認するには、現在のパスワードが必要です</small>
    </div>

    <div class="actions">
      <input type="submit" name="commit" class="btn btn-primary" data-disable-with="変更" value="変更">
    </div>

  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%= link_to "Back", :back %>
