<div class="forms">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
<%# 真木さんに質問する %>
    <%# <div class="form-group"> %>
     <%# <%= f.label :名前 <br /> %>
      <%# <input type="name"  id="field" placeholder="名前を入力してください"> %>
      <%# <small id="field-helper" class="form-text text-muted">We'll never share your email with anyone else.</small> %>
    <%# </div> %>

    <div class="form-labels">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :'パスワード(確認)' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <input type="submit" name="commit" class="btn btn-primary" data-disable-with="新規登録" value="新規登録">
      </div>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>