<div class="show_like_btn">
  <% if current_user.already_liked?(post) %>
    <%= link_to post_like_path(post.id), method: :delete, remote: true, :id => "like_delete",:class => "btn-decoration" do%>
      <button class="btn btn-outline-secondary">フォロー済み</button>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post.id), method: :post, remote: true, :id => "like_create", :class => "btn-decoration" do%>
      <button class="btn btn-outline-secondary">フォローする</button>
    <% end %>
  <% end %>
</div>
<h4>いいねしたユーザー: <%= post.likes.count %></h4>
<% post.liked_users.each do |liked_user| %>
  <div class="show_like_users">
    <%= link_to user_path(liked_user.id), :class => "link_reset" do %>
      <%= render partial: "shares/user_avatar", locals: {user: liked_user} %>
      <%= liked_user.name %>
    <% end %>
  </div>
<% end %>