<div class="posts_boxs_container">
  <% posts.each do |post| %>
    <div class="posts_boxs_fream">
      <%= link_to post_path(post) do %>
        <div class="post_box btn paper-raise">
          <div class="post_do_user_profile">
            <ul>
              <li>
                <p><%= render partial: "shares/user_avatar", locals: {user: post.user} %></p>
              </li>

              <li>
                <%= post.user.name %>
              </li>
            </ul>
          </div>

          <ul class="details_during_learning">
            <li>
              <label class="label_adjustment">学習言語</label><br>
              <%= post.kind %>
            </li>

            <li>
              <label>メモ</label><br>
              <%= post.body %>
            </li>

            <li>
              <label>学習時間</label><br>
              <%= post.span / 60 %>時間<%= post.span % 60 %>分
            </li>

            <li>
              <label>累計学習時間(<%= post.kind %>)</label><br>
              <%= post.span_total / 60 %>時間<%= post.span_total % 60 %>分
            </li>
          </ul>

          <div class="edit_and_destroy">
            <%= render partial: "shares/post_edit_and_destroy", locals: {post: post} %>
          </div>

          <div class="like_btn" id="like_bottons_<%= post.id %>">
            <%= render partial: "shares/likeform", locals: {post: post} %>  
          </div>

          <div class="created_at">
            <p>投稿日時：<%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
