<div class="learning-profile">
  <% user.total_and_counts.each do |total_and_count| %>
    <div class="card border-secondary mb-3">
      <div class="card-header">
        <h3><%= total_and_count[0] %></h3>
      </div>
      <div class="card-body">
        <div class="card-body-colum">
          <p class="card-text">今週の学習時間</p>
          <h5 class="card-title"><%= total_and_count[2] / 60 %>時間<%= total_and_count[2] % 60 %>分</h5>
        </div>
        <div class="card-body-colum">
          <p class="card-text">今までの累計学習時間</p>
          <h5 class="card-title"><%= total_and_count[1] / 60 %>時間<%= total_and_count[1] % 60 %>分</h5>
        </div>
        <div class="card-body-colum">
          <p class="card-text">投稿した回数</p>
          <h5 class="card-title"><%= total_and_count[3] %></h5>
        </div>
      </div>
    </div>
  <% end %> 
</div>
