<div class="week_ranking_container">
  <% week_ranking.each.with_index(1) do |user, i| %>
    <div class="posts_boxs_fream">
      <div class="ranking">
        <%= ranking(i) %>
      </div>

      <%= link_to user_path(user), :class => "underber_delete" do %>
        <div class="post_box btn paper-raise">
          <div class="post_do_user_profile">
              <%= user_avatar_70(user) %>
              
              <h2><%= user.name %></h2>
          </div>

          <div class="box_field">
            <label>今週の学習時間</label><br>
            <span class="strong"><%= user_week_time(user) %></span>
          </div>

          <div class="box_field">
            <label>フォロアー</label><br>
            <span><%= user.followers.count %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
