<div class="conotent">
  <div class="user_profile">
    <div class="user_image">
      <%= render partial: "shares/user_avatar", locals: {user: @user} %>
    </div>
    <div class="user_name">
      <%= link_to "#{@user.name}", "/users/edit", :class => 'user_name_p' %>
    </div>
    <div class="user_somehistory">
      <%# <p>エンジニア歴</p> # 導入するか検討%>
      <p><%= link_to "フォロー(#{@user.followings.count})", followings_user_path(@user), :class => 'user_somehistory_p' %></p>
      <p><%= link_to "フォロアー(#{@user.followers.count})", followers_user_path(@user), :class => 'user_somehistory_p' %></p>
      <p>いいねした数</p>
    </div>
    <%= render partial: "follow_form", locals: {user: @user} %>
  </div>
  
  <%# カレンダーが実装完了次第表示させる %>
  <div class="calender">
   <p>カレンダーを表示</p>
  </div>

  <%# postが実装完了次第表示させる %>
  <div class="learning-profile">
    <% @user.total_and_counts.each do |total_and_count| %>
      <div class="card border-secondary mb-3">
        <div class="card-header">
          <h3><%= total_and_count[0] %></h3>
        </div>
        <div class="card-body">
          <div class="card-body-colum">
            <p class="card-text">今週の学習時間</p>
            <h5 class="card-title"><%= total_and_count[2] / 60 %>時間<%= total_and_count[2] % 60 %>分</h5>
          </div>
          <div class="card-body-colum">
            <p class="card-text">今までの累計学習時間</p>
            <h5 class="card-title"><%= total_and_count[1] / 60 %>時間<%= total_and_count[1] % 60 %>分</h5>
          </div>
          <div class="card-body-colum">
            <p class="card-text">投稿した回数</p>
            <h5 class="card-title"><%= total_and_count[3] %></h5>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
  <div class="user_posts">
  <h3>過去の投稿</h3>
    <%= render partial: "shares/posts_box", locals: {posts: @user.posts} %>
  </div>
</div>

<%= render "shares/footer" %>