<div class="comment_form">
  <%= form_with model: [post, comment], local: true do |f| %>
    <%= f.text_field :body, {class: "form-control", placeholder: "コメントを入力してください"} %><br>

    <%= f.hidden_field :post_id, value: @post.id %>

    <%= f.submit 'コメントする', :class => "btn btn-secondary" %>
  <% end %>
</div>

<div class="commented_users">
  <% comments.each do |commented_user| %>
    <table class="table table-hover">
      <tr class="table-light">
        <th>
          <%= link_to user_path(commented_user.user), :class => "link_style" do %>
            <%= user_avatar_70(commented_user.user) %><%= commented_user.user.name %> ＞＞ <%= commented_user.body %>
          <% end %>
        </th>

        <th>
          <% if commented_user.user_id == current_user.id %>
            <%= link_to post_comment_path(commented_user.post.id, commented_user.id), method: :delete, :id => 'comment_delete', :class => "link_style delete", :onclick => "return confirm('本当に削除しますか？')" do %>
              <i class="far fa-trash-alt action-btn"></i>
            <% end %>
          <% end %>
        </th>
      </tr>
    </table>
  <% end %>
</div>