<div class ="post_f">
  <%= form_with model: post, local: true do |f| %>
    <div class ="post_field">
      <%= f.label :kind, "学習言語" %><br>
      <%= f.select :kind, options_for_select(Post.kinds.keys), {}, {class: "custom-select"} %><br>
    </div>
    <div class ="post_field">
      <%= f.label :body, "コメント" %><br>
      <%= f.text_field :body, :class => "form-control", :placeholder => "コメントを入力してください(必須)" %><br>
    </div>
    <div class ="post_field">
      <%= label :span, "学習した時間" %> <br>
      <%= time_select "time", :post_span, {ignore_date:true, prompt: "--", minute_step: 5}, {class: "custom-select time"} %>
    </div>
    <div class ="f_sbumit">
      <input type="submit" class="btn btn-primary btn-lg" data-disable-with="投稿する" value="投稿する">
    </div>
  <% end %>
</div>