<div class ="post_form_container">
  <%= form_with model: post, local: true do |f| %>
    <div class ="field">
      <%= f.label :learning_language, "学習言語" %><br>
      <%= f.select :learning_language, options_for_select(Post.learning_languages.keys), {}, {class: "custom-select"} %><br>
    </div>

    <div class ="field">
      <%= f.label :memo, "コメント" %><br>
      <%= f.text_field :memo, :id => "memo", :class => "form-control", :placeholder => "コメントを入力してください(必須)" %><br>
    </div>

    <div class ="field">
      <%= label :learned_time, "学習した時間" %> <br>
      <%= time_select "time", :post_learned_time, {ignore_date:true, prompt: "--", minute_step: 5}, {id: "learned_time", class: "custom-select time"} %>
    </div>

    <div class ="sbumit">
      <%= f.submit  "投稿する", :id => "commit", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>