<div class="post_search">
  <%= search_form_for q, class: "post_search"  do |f|%>
    <%= f.label :kind_in, "言語" %>
    <%= f.select :kind_in, options_for_select(Post.kinds.keys), {include_blank: '指定する'}, {onclick: "return false;", onchange: ""} %>
    <%= f.label :user_name_cont, "名前検索"%>
    <%= f.search_field :user_name_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div>