<div class="post_search">
  <%= search_form_for q, class: "post_search"  do |f|%>
    <%= f.label :kind_in, "言語" %>
    <div class="select_mate" data-mate-select="active" >
      <%= f.select :kind_in, options_for_select(Post.kinds.keys), {include_blank: '指定する'}, {onclick: "return false;", onchange: ""} %>
    <p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
      <path d="M0-.75h24v24H0z" fill="none"/>
    </svg></span>
    <div class="cont_list_select_mate">
      <ul class="cont_select_int">  </ul> 
    </div>
  </div>
    <%= f.label :user_name_cont, "名前検索"%>
    <%= f.search_field :user_name_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div>