<div class="post_heder">
  <div class="post_page_nation_header">
    <p>ページネーション（ヘッダー）を表示させる</p>
  </div>
  <div class="post_search">
    <p>検索一覧を表示させる</p>
  </div>
</div>
<div class="post_container">
  <% @posts.each do |post| %>
    <div class="post_box">
      <div class="post_user_profile">
        <div class="post_user_avatar">
          <%# あとで表示できるようにすること %>
        </div>
        <div class="post_user_name">
          <%= post.user.name %>
        </div>
      </div>
      <div class="post_learning_kind">
        <%= post.kind %>
      </div>
      <div class="post_comment">
        <%= post.body %>
      </div>
      <div class="post_learning_time">
        <%= post.span %>
      </div>
      <div class="post_learning_time_total">
        <p>learning_time_total</p>
      </div>
      <div class="post_follow_btn">
        <p>follow</p>
      </div>
      <div class="post_edit_destroy_btn">
        <% if post.user_id == current_user.id %>
          <%= link_to "編集", edit_post_path(post.id) %>
          <%= link_to "削除", post_path(post.id), method: :delete %>
        <% end %>
      </div>
      <div class="post_like_btn">
        <p>like</p>
      </div>
    </div>
  <% end %>
</div>
<div class="post_fotter">
  <div class="page_nation_fotter">
    <p>page_nation_fotter</p>
  </div>
</div>
<%= render "layouts/footer" %>