<div class="post_heder">
  <div class="post_page_nation_header">
    <p>ページネーション（ヘッダー）を表示させる</p>
  </div>
  <div class="post_search">
    <p>検索一覧を表示させる</p>
  </div>
</div>
<div class="post_container">
  <% @posts.each do |post| %>
    <div class="post_box">
      <div class="post_user_profile">
        <div class="post_user_avatar">
          <%= render partial: "shares/user_avatar", locals: {user: post.user} %>
        </div>
        <div class="post_user_name">
          <%= link_to "#{post.user.name}", user_path(post.user_id), :class => "linkbtn" %>
        </div>
      </div>
      <div class="post_learning_kind">
        <%= link_to "#{post.kind}", post_path(post.id), :class => "linkbtn" %>
      </div>
      <div class="post_comment">
        <%= post.body %>
      </div>
      <div class="post_learning_time">
        <%= post.span / 60 %>時間<%= post.span % 60 %>分
      </div>
      <div class="post_learning_time_total">
        <%= post.span_total / 60 %>時間<%= post.span_total % 60 %>分
      </div>
      <div class="post_follow_btn">
        <p>follow</p>
      </div>
      <div class="post_edit_destroy_btn">
        <% if post.user_id == current_user.id %>
          <%= link_to "編集", edit_post_path(post.id), :class => "linkbtn" %>
          <%= link_to "削除", post_path(post.id), method: :delete, :class => "linkbtn" %>
        <% end %>
      </div>
      <div class="post_like_btn">
        <%= render partial: "likeform", locals: {post: post} %>  
      </div>
    </div>
  <% end %>
</div>
<div class="post_fotter">
  <div class="page_nation_fotter">
    <p>page_nation_fotter</p>
  </div>
</div>
<%= render "shares/footer" %>