<div class="post_show_container">
  <div class="post_show_userprofile">
    <div class="post_user_avatar">
      <%= render partial: "shares/user_avatar", locals: {user: @post.user} %>
    </div>
    <div class="post_user_name">
      <%= @post.user.name %>
    </div>
  </div>
  <div class="post_show_postprofile">
    <div class="post_learning_kind p_show">
      <label>学習言語</label><br>
      <%= @post.kind %>
    </div>
    <div class="post_comment p_show">
      <label>メモ</label><br>
      <%= @post.body %>
    </div>
    <div class="post_learning_time p_show">
      <label>学習時間</label><br>
      <%= @post.span / 60 %>時間<%= @post.span % 60 %>分
    </div>
    <div class="post_learning_time_total p_show">
      <label>学習累計時間(<%= @post.kind %>)</label><br>
      <%= @post.span_total / 60 %>時間<%= @post.span_total % 60 %>分
    </div>
    <div class="post_show_actions">
      <%= render partial: "shares/post_action", locals: {post: @post} %>
    </div>
    <div class="post_like_btn">
      <%= render partial: "shares/likeform", locals: {post: @post} %>  
    </div>
    <div class="post_created_at">
      <p>投稿日時：<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
  </div>
</div>
<div class="post_comments">
  <%= render partial: "comment", locals: {comment: @comment, post: @post, comments: @comments} %>
</div>
<div class ="post_liked_users">
  <%= render partial: "shares/likeduser", locals: {post: @post} %>
</div>
<div class="post_fotter">
  <div class="page_nation_fotter">
    <p>page_nation_fotter</p>
  </div>
</div>
<%= render "shares/footer" %>