<div class="post_show_container">
  <div class="post_show_userprofile">
    <div class="post_user_avatar">
      <p>post_user_avatar</p>
    </div>
    <div class="post_user_name">
      <%= @post.user.name %>
    </div>
  </div>
  <div class="post_show_postprofile">
    <div class="post_learning_kind p_show">
      <%= @post.kind %>
    </div>
    <div class="post_comment p_show">
      <%= @post.body %>
    </div>
    <div class="post_learning_time p_show">
      <%= @post.span / 60 %>時間<%= @post.span % 60 %>分
    </div>
    <div class="post_learning_time_total p_show">
      <p>learning_time_total</p>
    </div>
    <div class="post_follow_btn p_show">
      <p>follow</p>
    </div>
    <div class="post_edit_destroy_btn p_show">
      <p>edit_destroy</p>
    </div>
    <div class="post_like_btn">
      <%= render partial: "likeform", locals: {post: @post} %>  
    </div>
  </div>
</div>
<div class="post_comments">
  <%= render partial: "comment", locals: {comment: @comment, post: @post, comments: @comments} %>
</div>
<div class ="post_liked_users">
  <%= render partial: "likeduser", locals: {post: @post} %>
</div>
<div class="post_fotter">
  <div class="page_nation_fotter">
    <p>page_nation_fotter</p>
  </div>
</div>
<%= render "layouts/footer" %>