<div class="posts_show_container">
  <div class="posts_show_user">
    <%= link_to user_path(@post.user), :class => "link_style" do %>
      <% if @post.user.avatar.blank? %>
        <%= image_tag 'default.png', :class => "image_size_150" %>
      <% else %>
        <%= image_tag @post.user.avatar, :class => 'image_size_150' %>
      <% end %>

      <h1><%= @post.user.name %></h1>
    <% end %>
  </div>

  <%= render partial: "post_show_box_container", locals: {post: @post} %>

  <div class="edit_and_destroy">
    <%= render partial: "shares/post_edit_and_destroy", locals: {post: @post} %>
  </div>

  <p class="border"></p>

  <div class ="likes_container" id="likes_container">
    <%= render partial: "likes_container", locals: {post: @post} %>
  </div>

  <p class="border"></p>

  <div class="comments_container">
    <h4>コメント一覧</h4>

    <%= render partial: "comments_container", locals: {comment: @comment, post: @post, comments: @comments} %>
  </div>
</div>

<%= render "shares/footer" %>