<div class="post_show_container">
  <ul class="post_show_user">
    <li>
      <% if @post.user.avatar.blank? %>
        <%= image_tag 'default.png', :class => "avatar_image_150" %>
      <% else %>
        <%= image_tag @post.user.avatar, :class => 'avatar_image_150' %>
      <% end %>
    </li>
    <li>
      <h1><%= @post.user.name %></h1>
    </li>
  </ul>
  <%= render partial: "shares/post_show_box", locals: {post: @post} %>
  <p class="border"></p>
  <div class ="post_liked_users" id="show_like_bottons_<%= @post.id %>">
    <%= render partial: "shares/likeduser", locals: {post: @post} %>
  </div>
  <p class="border"></p>
  <div class="post_comments">
    <h4>コメント一覧</h4>
    <%= render partial: "comment", locals: {comment: @comment, post: @post, comments: @comments} %>
  </div>
</div>
<%= render "shares/footer" %>