<div class="post_show_container">
  <div class="post_show_user">
    <%= link_to user_path(@post.user), :class => "link_reset" do %>
      <% if @post.user.avatar.blank? %>
        <%= image_tag 'default.png', :class => "avatar_image_150" %>
      <% else %>
        <%= image_tag @post.user.avatar, :class => 'avatar_image_150' %>
      <% end %>
      <h1><%= @post.user.name %></h1>
    <% end %>
  </div>
  <%= render partial: "post_show_box", locals: {post: @post} %>
  <div class="post_edit_and_delete">
    <%= render partial: "post_edit_and_destroy", locals: {post: @post} %>
  </div>
  <p class="border"></p>
  <div class ="post_liked_users" id="show_like_bottons_<%= @post.id %>">
    <%= render partial: "shares/likeduser", locals: {post: @post} %>
  </div>
  <p class="border"></p>
  <div class="post_comments">
    <h4>コメント一覧</h4>
    <%= render partial: "comment", locals: {comment: @comment, post: @post, comments: @comments} %>
  </div>
</div>
<%= render "shares/footer" %>