<!DOCTYPE html>
<html>
  <head>
    <title>FurtherEfforts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b20444e1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%# headerナビゲーション %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Further Efforts</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/posts">投稿一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/new">投稿する</a>
            </li>
            <li class="nav-item">
            <%= link_to "#{current_user.name}", "/users/#{current_user.id}", :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out">ログアウト</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/posts">投稿一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/new">投稿する</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">新規登録</a>
            </li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <%= render partial: "shares/flash_messages" %>
    <%= yield %>
  </body>
</html>
